/* DESKTOP STYLES FOR FORMS AND TABLES ARE LOCATED AT THE BOTTOM OF THE forms.css and tables.css FILES RESPECTIVELY */

@media (min-width:426px) and (max-width:768px) {
    .main-wrapper {
        background-size: 100% 100%;
    }
}

@media (min-width:769px) {
    /* HEADER */
    .header-wrapper {
        display: flex;
        justify-content: space-between;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    .nav-bar {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .nav-bar li {
        display: inline-block;
        margin: auto;
    }
    .nav-bar li a {
        display: block;
    }
    .nav-bar ul {
        position: absolute;
        top: 4em;
        padding: 0;
    }
    .nav-bar-dropdown {
        height: 3.8em;
        background-color: white;
    }
    .nav-bar-link {
        text-decoration: none;
        margin: 0 0.5em;
        color: black;
        text-transform: uppercase;
    }
    .nav-bar-link :hover {
        cursor: pointer;
        border-bottom: 2px solid black;
    }
    .nav-bar-dropdown>li {
        height: 1.75em;
    }
    .nav-bar-dropdown>li>a {
        text-transform: capitalize;
    }
    .nav-bar-dropdown>li:nth-child(1) {
        margin-bottom: 0.25em;
        border-bottom: 0.5px grey solid;
        border-left: 0.5px grey solid;
        border-right: 0.5px grey solid;
    }
    .nav-bar-dropdown>li:nth-child(2) {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 2em;
        width: 100%;
        border-bottom: 0.5px grey solid;
        border-left: 0.5px grey solid;
        border-right: 0.5px grey solid;
    }
    .nav-bar li>.nav-bar-link :hover {
        border-bottom: 2px solid black;
    }
    .nav-icon {
        display: none;
    }
    /* MAIN */
    .main-wrapper {
        background-size: 100% 100%;
    }
    /* SECTION */
    .services-section {
        display: flex;
        justify-content: space-around;
    }
    .services-wrapper {
        width: 40%;
    }
    .contact-info-wrapper {
        text-align: center;
        width: 80%;
        margin: 2em auto;
    }
    .contact-info-logo {
        height: auto;
        width: 50vw;
        margin: 2em auto;
    }
    .workplace-retirement-wrapper {
        width: 80%;
        margin: 2em auto;
        text-align: center;
    }
    .workplace-retirement-wrapper li {
        list-style-type: none;
    }
    .retirement-section {
        display: flex;
    }
    .services-wrapper.workplace-retirement {
        height: 50vh;
    }
    /* FOOTER */
    .team-footer {
        position: absolute;
        bottom: 0;
        width: 100vw;
    }
}